* {
  margin: 0;
  padding: 0;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  /* margin-left: -30px; gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

.my-masonry-grid_column > div > a {
  display: block;
  text-decoration: none;
  color: #fff;
  text-align: center;
}

.my-masonry-grid_column > div > a :hover {
  color: #09351a;
}

.character {
  width: 400px;
  height: 600px;
  border-radius: 10%;
  margin: 40px;
  display: flexbox;
}
h3 {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.progress {
  display: flex;
  justify-content: center;
  text-align: center;
}

.load_btn {
  padding: 15px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.load_btn button {
  height: 60px;
  width: auto;
  font-size: 25px;
  padding: 15px;
  font-family: monospace;
  color: #98c5aa;
  background-color: #022203; /* Green */
  border-radius: 8%;
}

.logo {
display: flex;
  justify-content: center;
}

.char__name {
  display: flex;
  font-size: 60px;
  justify-content: center;
  color: #022203;
  font-family: monospace;
  text-decoration: underline;
}

#char__img {
  width: 400px;
  height: 600px;
  border-radius: 5%;
  margin: 40px;
  display: flexbox;
  float: left;
}

pre {
  font-size: 30px;
  color: #042b13;
}

.detail__container {

  height: 100vh;
}

.queto__item {
  color: black;
}

.quote_container {
  padding: 40px;
}


.quote_container h1 {
  color: #042b13;
  text-align: center;
  font-size: 90px;
  font-family: cursive;

  font-weight: 900;

  margin-top: -30px;




}

.queto {
  color: #000a04;
  font-size: 28px;
  
  text-align: center;
  font-family: cursive;
  font-weight: 600;

}

.all__quotes {
  text-align: center;
  padding: 15px;
}

strong {
  color: #b1cabb;
  font-size: 18px;
  font-family: monospace;
}