.App {
  text-align: center;
}

.container {
  background: rgb(8,73,17);
  background: linear-gradient(180deg, rgba(8,73,17,1) 0%, rgba(9,63,14,1) 13%, rgba(9,59,12,1) 19%, rgba(9,54,11,1) 25%, rgba(9,50,10,1) 30%, rgba(9,48,9,1) 33%, rgba(28,172,120,1) 66%, rgba(151,207,171,0.8138715765449438) 100%);
  

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
